GrokkingAlgorithms.playground/playground.xcworkspace/contents.xcworkspacedata
GrokkingAlgorithms.playground/playground.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
GrokkingAlgorithms.playground/playground.xcworkspace/xcuserdata/evgenyivanov.xcuserdatad/UserInterfaceState.xcuserstate
